@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Karla:wght@400;700&family=Kumbh+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

:root{
    --Cyan-Primary: hsl(179, 62%, 43%);
    --Bright-Yellow-Primary: hsl(71, 73%, 54%);

    --Cyan-Neutral: hsl(179, 62%, 43%);
    --Bright-Yellow-Neutral: hsl(71, 73%, 54%);
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #E5EFF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 575px;
    height: 450px;
    background-color: #fff;
    border-radius: 7px;
}
/* top */
.top-card{
    height: 50%;
    background-color: #fff;
    border-radius: 7px;
}
.top-h3{
    color: var(--Cyan-Primary);
    padding: 35px 0 0 35px;
    font-weight: 700;
}
.top-h4{
    color: var(--Bright-Yellow-Primary);
    padding: 25px 0  0 35px;
}
.top-parag{
    font-size: 14px;
    color: #9EA6BD;
    padding: 5px 10px 0 35px;
    line-height: 2em;
    opacity: 0.7;
}

/* bottom */
.bottom-card{
    height: 50%;
    display: flex;
    border-radius: 7px;
}
/* left */
.bottom-left{
    width: 50%;
    background-color: #2AB2AF;
    border-bottom-left-radius: 7px;
}
.bottom-left-h4{
    color: white;
    padding: 35px 0 0 35px;
}
.bottom-left-parag{
    color: white;
    padding: 10px 0 0 35px;
    font-size: 25px;
}
.spann{
    opacity: 0.6;
    font-size: 14px;
    text-align: center;
}
.bottom-left-parag2{
    font-size: 14px;
    color: white;
    opacity: 0.7;
    padding: 5px 35px;
}
.btn-sign{
    padding: 15px 85px;
    margin: 20px 0 15px 35px;
    background-color: var(--Bright-Yellow-Primary);
    border: none;
    color: white;
    border-radius: 5px;
}


/* right */
.bottom-right{
    width: 50%;
    background-color: #4BBEBC;
    border-bottom-right-radius: 7px;
}
.bottom-right-h4{
    color: white;
    padding: 35px 0 0 35px;
}
.bottom-item{
    font-size: 12px;
    color: white;
    padding: 15px 0 0 35px;
}
.items{
    list-style-type: none;
    padding: 2px;
    color: white;
    opacity: 0.7;
}
